<a href="https://colab.research.google.com/github/Snehamn24/python_code_snippets/blob/main/Python_snippets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Code Snippets

## 1 . Condition

In [ ]:
if(0.1+0.2==0.3):
  print('True')
else:
  print('False')

False

Why it prints False

This is due to floating-point precision in Python (and most programming languages):

0.1 and 0.2 cannot be represented exactly in binary floating-point.

So 0.1 + 0.2 actually evaluates to something like 0.30000000000000004.

This is not exactly equal to 0.3, so the condition fails.

In order to get the True value we can go with the following code

In [ ]:
import math
if(math.isclose(0.1+0.2,0.3)):
  print("True")
else:
  print("False")

True

2 . Moving the Zeros to the end of the list from the given list

In [ ]:
my_list = [1,2,0,3,0,4,5]

for ele in my_list:
  if ele==0:
    my_list.remove(ele)
    my_list.append(ele)

print(my_list)

[1, 2, 3, 4, 5, 0, 0]

3 . Division

In [ ]:
a = 4.5
b = 2
print(a//b)

2.0

4 . Write a function that takes s sentence , and returns the longest even-length word in the sentence . Or if it has no even -length words , return "00".

5 . Conditional

In [ ]:
name = "python"

if(name=="java" or name=="css"):
  print("Yes")
else:
  print("False")

False

6 . for-else in Python

In [ ]:
a = [1,2,3,4,5]

for ele in a:
  if(ele==3):
    break
else:
  print("For else")

In [ ]:
a = [1,2,3,4,5]

for ele in a:
  if(ele==3):
    print(ele)
else:
  print("For else")

3
For else

How for-else works:

The else block executes only if the loop completes normally (i.e., no break occurs).

If break is executed, the else block is skipped.

# 7 . Reversing a String - Method 1

In [ ]:
str = "python"
print("original String ",str)

reversed_str = str[::-1]
print("reversed String ",reversed_str)

original String  python
reversed String  nohtyp

Method 2 using the join and reversed ()

In [ ]:
str = "ABC"

reversed_string = ''.join(reversed(str))
print(reversed_string)

CBA

# Method 3 using the loop construct

In [ ]:
str = "python"

reversed_str = []

for ch in str:
  reversed_str.insert(0,ch)
print(''.join(reversed_str))

nohtyp

# 8 . Check if the String is Palindrome or not

In [ ]:
str = "Mum"

str = str.lower()

reversed_string = str[::-1]

if(str==reversed_string):
  print("String is palindrome")
else:
  print("String is not Palindrome")

String is palindrome

# 9 . Counting number of vowels and consonants

In [ ]:
str = "Python"

vowels = ['a','e','i','o','u']

str = str.lower()

vowel_count = 0
Consonant_count = 0

for ch in str:
  if ch in vowels:
    vowel_count+=1
  else:
    Consonant_count+=1
print("Vowels : ",vowel_count)
print("Consonant : ",Consonant_count)

Vowels :  1
Consonant :  5

# 10 . Check whether the 2 strings are Anagrams

In [ ]:
def anagram_or_not(str1,str2):
  str1 = sorted(str1.lower().replace(" ",""))
  str2 = sorted(str2.lower().replace(" ",""))
  return str1==str2

str1 = "silent"
str2 = "listen"

if anagram_or_not(str1,str2):
  print(f"{str1} and {str2} are anagrams")
else:
  print(f"{str1} and {str2} are not angrams")

silent and listen are anagrams

# 11 . Factorial of a number

In [ ]:
def fact(n):
  if n==0:
    return 1
  elif n==1:
    return 1
  else:
    return n*fact(n-1)

n = 5
print(fact(n))

120

# 12 . Convert from list to the string

In [ ]:
my_list = ['a','e','i','o','u']

print(type(my_list))

str = ''.join(my_list)

print(str)
print(type(str))

<class 'list'>
aeiou
<class 'str'>

13 . Permutations from the itertools

In [ ]:
from itertools import permutations

#string Permutations
str = "BCA"

for i in permutations(str):
  print("".join(i))

BCA
BAC
CBA
CAB
ABC
ACB

In [ ]:
#permutations of the particular size
from itertools import permutations

my_list = [1,2,3,4]

for i in permutations(my_list,3):
  print(i)

(1, 2, 3)
(1, 2, 4)
(1, 3, 2)
(1, 3, 4)
(1, 4, 2)
(1, 4, 3)
(2, 1, 3)
(2, 1, 4)
(2, 3, 1)
(2, 3, 4)
(2, 4, 1)
(2, 4, 3)
(3, 1, 2)
(3, 1, 4)
(3, 2, 1)
(3, 2, 4)
(3, 4, 1)
(3, 4, 2)
(4, 1, 2)
(4, 1, 3)
(4, 2, 1)
(4, 2, 3)
(4, 3, 1)
(4, 3, 2)

# 14 . groupby() from the itertools

In [ ]:
from itertools import groupby

my_list = [1,1,2,2,2,2,3,4]

for i , group in groupby(my_list):
  print(i,list(group))

1 [1, 1]
2 [2, 2, 2, 2]
3 [3]
4 [4]

# 15 . program to check whether the given number is perfect number

In [ ]:
n = int(input())

divisor_sum = 0

for i in range(1,n):
  if n%i==0:
    divisor_sum+=i
if(divisor_sum==n):
  print("YEs")
else:
  print("no")

28
YEs

# 16 . Loop

In [1]:
a = 5
for i in range(a):
  if i==3:
    continue
  print(a)

5
5
5
5

# 17 . Reversing a string without the slicing and the loops

In [5]:
def rev(str):
  if len(str)==0:
    return str
  return rev(str[1:])+str[0]
rev("Apple")

'elppA'

# 18 . Multiplication of two numbers with the + operator

In [7]:
def mul(a,b):
  a1 = a
  for i in range(b-1):
    a+=a1
  print(a)

mul(4,3)

12

# 18 . Checking the output

In [10]:
x = [1,2,3]
y = x.reverse()
print(y) #the answer is none because it reverses the string in the same string and does not return any value , so the output is none
print(x)

None
[3, 2, 1]

# 19 . **Generator**

In [11]:
gen = (x for x in range(3))
print(list(gen))
print(list(gen))
#Key point: Generators can be iterated only once. After that, they are empty.

[0, 1, 2]
[]

# 20 . create a class and object

In [3]:
#Syntax - class
#class class_name

#syntax - object
#object_name = class_name()

class py:
  x = 5

p = py()
print(p.x)

5

In [3]:
class one:
  a = 1
a1 = one()
print(a1.a)

1

# Deleting the Objects - we can use the del keyword to delete the object

In [5]:
del a1

In [6]:
print(a1.a)

NameError: name 'a1' is not defined

# We can Create multiple objects for the same class

In [4]:
a1 = one()
a2 = one()
print(a1.a)
print(a2.a)

1
1