<a href="https://colab.research.google.com/github/Snehamn24/python_code_snippets/blob/main/Python_snippets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Code Snippets

## 1 . Condition

In [1]:
if(0.1+0.2==0.3):
  print('True')
else:
  print('False')

False

Why it prints False

This is due to floating-point precision in Python (and most programming languages):

0.1 and 0.2 cannot be represented exactly in binary floating-point.

So 0.1 + 0.2 actually evaluates to something like 0.30000000000000004.

This is not exactly equal to 0.3, so the condition fails.

In order to get the True value we can go with the following code

In [2]:
import math
if(math.isclose(0.1+0.2,0.3)):
  print("True")
else:
  print("False")

True

2 . Moving the Zeros to the end of the list from the given list

In [3]:
my_list = [1,2,0,3,0,4,5]

for ele in my_list:
  if ele==0:
    my_list.remove(ele)
    my_list.append(ele)

print(my_list)

[1, 2, 3, 4, 5, 0, 0]

3 . Division

In [4]:
a = 4.5
b = 2
print(a//b)

2.0

4 . Write a function that takes s sentence , and returns the longest even-length word in the sentence . Or if it has no even -length words , return "00".

5 . Conditional

In [5]:
name = "python"

if(name=="java" or name=="css"):
  print("Yes")
else:
  print("False")

False

6 . for-else in Python

In [6]:
a = [1,2,3,4,5]

for ele in a:
  if(ele==3):
    break
else:
  print("For else")

In [7]:
a = [1,2,3,4,5]

for ele in a:
  if(ele==3):
    print(ele)
else:
  print("For else")

3
For else

How for-else works:

The else block executes only if the loop completes normally (i.e., no break occurs).

If break is executed, the else block is skipped.

# 7 . Reversing a String - Method 1

In [1]:
str = "python"
print("original String ",str)

reversed_str = str[::-1]
print("reversed String ",reversed_str)

original String  python
reversed String  nohtyp

Method 2 using the join and reversed ()

In [4]:
str = "ABC"

reversed_string = ''.join(reversed(str))
print(reversed_string)

CBA

# Method 3 using the loop construct

In [6]:
str = "python"

reversed_str = []

for ch in str:
  reversed_str.insert(0,ch)
print(''.join(reversed_str))

nohtyp

# 8 . Check if the String is Palindrome or not

In [9]:
str = "Mum"

str = str.lower()

reversed_string = str[::-1]

if(str==reversed_string):
  print("String is palindrome")
else:
  print("String is not Palindrome")

String is palindrome

# 9 . Counting number of vowels and consonants

In [11]:
str = "Python"

vowels = ['a','e','i','o','u']

str = str.lower()

vowel_count = 0
Consonant_count = 0

for ch in str:
  if ch in vowels:
    vowel_count+=1
  else:
    Consonant_count+=1
print("Vowels : ",vowel_count)
print("Consonant : ",Consonant_count)

Vowels :  1
Consonant :  5

# 10 . Check whether the 2 strings are Anagrams

In [3]:
def anagram_or_not(str1,str2):
  str1 = sorted(str1.lower().replace(" ",""))
  str2 = sorted(str2.lower().replace(" ",""))
  return str1==str2

str1 = "silent"
str2 = "listen"

if anagram_or_not(str1,str2):
  print(f"{str1} and {str2} are anagrams")
else:
  print(f"{str1} and {str2} are not angrams")

silent and listen are anagrams

# 11 . Factorial of a number

In [5]:
def fact(n):
  if n==0:
    return 1
  elif n==1:
    return 1
  else:
    return n*fact(n-1)

n = 5
print(fact(n))

120

# 12 . Convert from list to the string

In [7]:
my_list = ['a','e','i','o','u']

print(type(my_list))

str = ''.join(my_list)

print(str)
print(type(str))

<class 'list'>
aeiou
<class 'str'>

13 . Permutations from the itertools

In [2]:
from itertools import permutations

#string Permutations
str = "BCA"

for i in permutations(str):
  print("".join(i))

BCA
BAC
CBA
CAB
ABC
ACB

In [5]:
#permutations of the particular size
from itertools import permutations

my_list = [1,2,3,4]

for i in permutations(my_list,3):
  print(i)

(1, 2, 3)
(1, 2, 4)
(1, 3, 2)
(1, 3, 4)
(1, 4, 2)
(1, 4, 3)
(2, 1, 3)
(2, 1, 4)
(2, 3, 1)
(2, 3, 4)
(2, 4, 1)
(2, 4, 3)
(3, 1, 2)
(3, 1, 4)
(3, 2, 1)
(3, 2, 4)
(3, 4, 1)
(3, 4, 2)
(4, 1, 2)
(4, 1, 3)
(4, 2, 1)
(4, 2, 3)
(4, 3, 1)
(4, 3, 2)